.containerForInerface {
  max-width: 1600px;
  margin: 0 auto;
}

.intarface__header {
  box-shadow: 0 0 12px #aaa9a9;
}

.intarface__header-list {
  font-size: 16 px;
}

.user {
  font-size: 20px;
  color: #edc951;
}

.effect-box-shadow {
  box-shadow: 0 0 12px #aaa9a9;
  padding: 10px 20px;
}

.form-employee__item:not(:last-child) {
  margin-bottom: 20px;
}

.form-employee__item {

}

.form-employee__span {
  font-size: 22px;
  width: 200px;
  display: block;
}

.form-employee__select {
  padding: 10px 10px;
  width: 420px;
  outline: none;
  background-color: #dfdddd;
  border: none;
  border-radius: 10px;
}

.form-employee__submit {
  display: block;
  margin-left: auto;
  padding: 10px 20px;
  border-radius: 40px;
  border: none;
  background-color: #edc951;
  color: #fff;
  outline: none;
}

.form-employee__submit:hover,
.form-employee__submit:focus {
  transition: all 400ms;
  background-color: blueviolet;
}

.form-employee__input {
  width: 400px;
}

.employeeReturn__container {
  /* width: 900px; */
}

.listEmployeeState__container {
  padding: 10px 15px;
  border: 1px solid #000;
  margin-bottom: 10px;
}

.listEmployeeState__container:not(:last-child) {
  margin-right: 10px;
}

.listEmployeeState__open {
  background-color: #edc951;
  color: #fff;
}

.listEmployeeState__open:focus,
.listEmployeeState__open:hover{
  color: #000;
  background-color: aqua;
}

.profile__list {
  border-bottom: 1px solid #000;
  padding-bottom: 20px;
}

.profile__item {
  display: flex;
  flex-wrap: wrap;
}

.profile__item:not(:last-child) {
  margin-bottom: 20px;
}

.profile__span {
  display: block;
  width: 200px;
}
